# test yaml

model_name: "wan_t2v"
pipeline_name: "t2v"
seed: 1024

prompt_txt: "assets/t2v/simple_prompts.txt"
output_dir: "samples/wan_t2v"

num_frames: 49
height: 480
width: 832
save_fps: 16
batch_size: 1

fsdp_size: 4
cp_size: 2
use_context_parallel: True
reshard_after_forward: False
weight_dtype: "bf16"
save_with_dcp_api: False

model_config:
  dim: 1536
  ffn_dim: 8960
  freq_dim: 256
  in_dim: 16
  num_heads: 12
  num_layers: 30
  out_dim: 16
  text_len: 512
  pretrained_model_dir_or_checkpoint: "/mnt/data2/Wan2.1-T2V-1.3B/diffusion_pytorch_model.safetensors"

scheduler_config:
  scheduler_name: "flow_matching"
  num_inference_steps: 50
  shift: 7.0
  guidance_scale: 5.0

vae_config:
  vae_path: "/mnt/data2/Wan2.1-T2V-1.3B/Wan2.1_VAE.pth"
  dtype: "fp32"

text_encoder_config:
  text_len: 512
  checkpoint_path: "/mnt/data2/Wan2.1-T2V-1.3B/models_t5_umt5-xxl-enc-bf16.pth"
  text_tokenizer_path: "/mnt/data2/Wan2.1-T2V-1.3B/google/umt5-xxl"
  use_fsdp: True
